h1 {    
    font-family: Mistral;
    font-size: 80px;
    text-align: center;
    color: darkslategray;
    padding-top: 50px;
    padding-bottom: 0;
}

h3 {
    font-family: Mistral;
    font-size: 15px;
    font-weight: 10;
    text-align: center;
    color: burlywood;
    margin: -30px;
}

.nav a {
    display: block;
    color: white;
    font-family: Mistral;
    font-weight: 700;
    font-size: 20px;
    padding: 16px;
    list-style-type: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
    border: none;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.nav {
    margin-top: 10%;
    margin-right: 60%;
    margin-left: 5%;
    position: fixed;
}
.nav a:hover {
    background-color: whitesmoke;
    color: burlywood;
}
.nav h3{
    margin: -60px;
    margin-bottom: -120px;
}


.header {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    width: 60%;
    height: 35%;
    margin-bottom: auto;
    background-color: rgba(256,256,256,0.9);
    border-bottom: 25px solid;
    border-bottom-color: rgba(10,10,10, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    
}

#head1{
    background-color: white;
    width: 80%;
    padding: 0;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -12%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#head1 h1{
    font-size: 80px;
}

#head2{
    background-color: white;
    width: 55%;
    padding: 5px;
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#head2 h1{
    font-size: 80px;
}

p {
    font-family: Mistral;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: burlywood;
    padding: 40px;
    text-align: justify;
}

Body {
    background-image: url(img/greatness-ad-campaigns-for-digital-and-print-marketing-by-th.png);
    background-color: beige;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.MainMenu {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    float: left;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.active {
    background-color: #4CAF50;
}

.two {
    float: right;
    height: 100%;
    width: 80%;
}

table {
    width: 100%;
    border: 3px solid;
    border-color: cadetblue;
    margin-bottom: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
th {
    border-bottom: 3px solid;
    border-color: cadetblue;
    padding: 10px;
    width: 30%;
}

tr, td {
    padding: 10px;
    width: 30%;
    border-right: 10px solid;
    border-color: cadetblue;
    font-family:  verdana, sans-serif, Times New Roman;
    font-size: 25px;
}


.stone {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    float: left;
}
.stone:hover {
    border: 1px solid;
    border-color: cornsilk;
}

.stone img {
    width: 100%;
    height: auto; 
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    color: cadetblue;
    font-weight: 600;
}


.gallery {
    width: 20%;
    margin: 10px; 
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    float: left;
}

form {
    width: 60%;
    padding: 50px;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    font-weight: 600;
    color: darkslategray;
    border-bottom: 10px solid;
    border-color: white;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin-bottom: 100px;
}

textarea {
    padding: 10px;
    background-color: whitesmoke;
    color: cadetblue;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-bottom: 3px solid;
    border: white;
}

input {
    width: 100%;
    background-color: white;
    border-color: white;
    border: 2px solid;
    padding: 10px;
    color: cadetblue;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
}

button {
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 50px;
    font-weight: 600;
    color: darkslategray;
    background-color: rgba(255,255,255,0.8);
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    float: left;
    margin: 20px;
}

.buttons {
    margin-left: 30%;
}

button:hover {
    background-color: white;
    border-color: cadetblue;
    border-bottom: 7px solid;
}


@media only screen and (max-width: 1200px){
    .MainMenu {
    width: 30%;
    float: left;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */    
    }
}

@media only screen and (max-width: 1200px) {
    p {
        font-size: 15px;
        width:inherit;
    }

    @media only screen and (max-width: 1200px){
    h1 {
        font-size: 35px;
        width: inherit;
    }
}
    
    @media only screen and (max-width: 1200px){
    h3 {
        font-size: 25px;
        width: inherit;
    }
}     

@media only screen and (max-width: 1200px){
    .two {
    width: 60%;
    float: right;
    height: 100%; /* Full height */
     /* Make it stick, even on scroll */
    /* Enable scrolling if the sidenav has too much content */
        }    
}
    
    @media only screen and (max-width: 1200px){
.gallery {
    width: 60%;
    margin: 5px; 
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    float: left;
}
    }
    
    @media only screen and (max-width: 1200px){    
    form {
    width: 100%;
    padding: 50px;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    font-weight: 600;
    color: darkslategray;
    border-bottom: 10px solid;
    border-color: white;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin-bottom: 100px;
    }
}
    
    @media only screen and (max-width: 1200px){    
    textarea {
    padding: 10px;
    width: 95%;    
    background-color: whitesmoke;
    color: cadetblue;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-bottom: 3px solid;
    border: white;
    }
}
    
    

@media only screen and (max-width: 500px) {
    .MainMenu {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        padding: 0px;
        margin: 0;
        text-align: justify;
        
    }
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 12px;
        width:inherit;
    }

@media only screen and (max-width: 500px){
    h1 {
        font-size: 25px;
        width: inherit;
    }
}
    
@media only screen and (max-width: 500px){
    h3 {
        font-size: 15px;
        width: inherit;
    }
        
}    

@media only screen and (max-width: 500px){
    .two {
        width: 95%;
    }
        
}    

@media only screen and (max-width: 500px){
     {
        font-size: 15px;
        width: inherit;
    }
        
}

@media only screen and (max-width: 500px){    
    .stone {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    float: left;
    }
}
    @media only screen and (max-width: 500px){
.stone:hover {
    border: 1px solid;
    border-color: cornsilk;
}
    }

    @media only screen and (max-width: 500px){
.stone img {
    width: 100%;
    height: auto; 
}
    }

    @media only screen and (max-width: 500px){
.desc {
    padding: 10px;
    text-align:justify;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    color: cadetblue;
    font-weight: 600;
}
    }

    @media only screen and (max-width: 500px){
.gallery {
    width: 33%;
    margin: 35px; 
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    float: left;
}
    }

 @media only screen and (max-width: 500px){    
    form {
    width: 80%;
    padding: 4px;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    font-weight: 600;
    color: darkslategray;
    border-bottom: 10px solid;
    border-color: white;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin-bottom: 100px;
    }
}
    
 @media only screen and (max-width: 500px){    
    textarea {
    padding: 10px;
    width: 92%;    
    background-color: whitesmoke;
    color: cadetblue;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-bottom: 3px solid;
    border: white;
    }
}

@media only screen and (max-width: 500px){        
    input {
    width: 90%;
    background-color: white;
    border-color: white;
    border: 2px solid;
    padding: 10px;
    color: cadetblue;
    font-family: verdana, sans-serif, Times New Roman;
    font-size: 20px;
    }
}
/* For mobile phones: */
